ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.recipe-row {
  margin-top: 2px;
}

.glyph-button {
  cursor: pointer;
  vertical-align: center;
  text-decoration: none !important;
  /*forgive me*/
}

.glyph-center {
  margin-top: 25%;
}

checkbox {
  display: table;
  width: 100%;
  height: 100%;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.label-cbx {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0;
}
.label-cbx input:checked + .checkbox {
  border-color: #20C2E0;
}
.label-cbx input:checked + .checkbox svg path {
  fill: #20C2E0;
}

.label-cbx input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.label-cbx:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.label-cbx .checkbox {
  position: relative;
  margin-top: 25%;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 2px solid #C8CCD4;
  border-radius: 3px;
}
.label-cbx .checkbox svg {
  position: absolute;
  top: -2px;
  left: -2px;
}
.label-cbx .checkbox svg path {
  fill: none;
  stroke: #20C2E0;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.6s ease;
}
.label-cbx .checkbox svg polyline {
  fill: none;
  stroke: #FFF;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease;
}

.no-border {
  border: transparent;
  box-shadow: none;
}

.button-container{
  display: flex;
  margin-bottom: 10px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-row{
  flex: 1;
  margin: 5px;
  background-color: #FFF;
  color: #337ab7;
  box-shadow: none;
  border: 1px solid #337ab7;
}

.btn-circle.btn-xs {
  width: 20px;
  height: 20px;
  padding: 3px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 10px;
  line-height: 1.42857;
  margin-top: 25%;
}

.classy-btn {
  margin-left: 15px;
  background-color: #353D45;
  color: #EFEFEF;
  border: none;
  background-image: linear-gradient(to bottom,#353D45 0,#353D45 100%);
}

.search-btn {
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.classy-btn:hover, .classy-btn:focus {
  background-color: #353D45;
  color: #EFEFEF;
  outline: none;
}

.classy-btn.active.focus, .classy-btn.active:focus, .classy-btn.active:hover, .classy-btn:active.focus, .classy-btn:active:focus, .classy-btn:active:hover, .open>.dropdown-toggle.classy-btn.focus, .open>.dropdown-toggle.classy-btn:focus, .open>.dropdown-toggle.classy-btn:hover {
  outline: none;
  color: #EFEFEF;
  background-color: rgb(117, 122, 128);
}

.search-btn.active.focus, .search-btn.active:focus, .search-btn.active:hover, .search-btn:active.focus, .search-btn:active:focus, .search-btn:active:hover, .open>.dropdown-toggle.search-btn.focus, .open>.dropdown-toggle.search-btn:focus, .open>.dropdown-toggle.search-btn:hover
{
  background-color: #353D45;
  color: #EFEFEF;
}

.search-btn.search-btn-open > input, .search-btn > input {
  background-color: #353D45;
  color: white;
  border: none;
  outline: none;
  width: 0px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}

.search-btn.search-btn-open > input, .search-btn:hover > input {
  display: inline-block;
  width: 250px;
}

.search-btn.search-btn-open, .search-btn:hover {
  width: 300px;
}

.hidden{
  display: none;
}

.popover-title{
  padding: 10px;
}

.popover-content{
  padding: 0px;
}

.popover-content ul{
  margin: 0;
}

div.clearfix li{
  text-align: center;
  width: 100%;
  padding: 0px;
}

div.clearfix a{
  text-decoration: none;
  border: none;
  outline: none;
  display: inline-block;
  width: 100%;
  padding: 2px 3px 2px 3px;
}

div.clearfix li:active{
  box-shadow: inset 0 1px 2px #C8CCD4;
}